@model DoctorSearch.ViewModels.HomeIndexViewModel

<html>
<head>
    <title>Doctor Surgery Search</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

<h1>@Model.PageTitle</h1>

<form method="get">
    <label for="Postcode">Postcode:</label>
    <input id="Postcode" name="Postcode" value="@Model.Postcode" />
    <button type="submit">Search</button>
</form>

@if (Model.SearchRequested)
{
    <p>
        You searched for: <strong>@Model.Postcode</strong>.
        <strong>@Model.Surgeries.Count</strong> surger@(Model.Surgeries.Count == 1 ? "s" : "ies") found.
    </p>

    <h2>Surgeries</h2>

    @if (Model.Surgeries.Count > 0)
    {    
        <div id="map" 
            data-lat="@Model.MapCentreLat" 
            data-lng="@Model.MapCentreLng" 
            data-map-markers='@Html.Raw(Model.MapMarkerData)'></div>
    }

    <ul>
        @foreach(var surgery in Model.Surgeries)
        {
            <li>
                <h3>@surgery.Name</h3>
                <dl>
                    <dt>Website:</dt>
                    <dd><a href="@surgery.Website">@surgery.Website</a></dd>
                </dl>
                <dl>
                    <dt>Email:</dt>
                    <dd><a href="mailto:@surgery.Email">@surgery.Email</a></dd>
                </dl>
                <dl>
                    <dt>Teleohone:</dt>
                    <dd>@surgery.Telephone</dd>
                </dl>            
            </li>
        }
    </ul>
}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV93Z_P6o-V4jjeIMf_FvEvtH00o1g9fU&callback=initMap"></script>
<script src="/scripts/map.js"></script>

</body>
</html>